priority: 2

filesystem:
  path: "/downloads/movies/complete"
  regexp: '.*\.(avi|mkv|mp4)$'
  recursive: yes

accept_all: yes
seen: local
imdb_lookup: yes
tmdb_lookup: yes

duplicates:
  field: location
  action: reject

set:
  movie_dir: "{% if tmdb_year %}/movies/{{ movie_name }} ({{ movie_year }}) {{ imdb_id }}{% else %}/movies/{{ location | basename }}{% endif %}"

  #  movie_dir: >
  #   {% if tmdb_year %}
  #    /movies/{{ movie_name }} ({{ movie_year }}) {{ imdb_id }}
  # {% else %}
  #  /movies/{{ location | basename }}
  #{% endif %}
  movie_dst: "{% if tmdb_year %}{{ movie_name }} ({{ movie_year }}){{ location | pathext }}{% else %}{{ location | basename }}{% endif %}"

  #movie_dst: >
  # {% if tmdb_year %}
  #  {{ movie_name }} ({{ movie_year }}){{ location | pathext }}
  #{% else %}
  # {{ location | basename }}
  #{% endif %}

exec:
  auto_escape: yes
  on_output:
    for_entries: |
      /config/scripts/process_media.sh "{{ location }}" "{{ movie_dir }}" "{{ movie_dst }}" "movies"
