services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - SERVER_COUNTRIES=Brazil
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ADDRESS=${WIREGUARD_ADDRESS}
      - DOT=off
      - FIREWALL_VPN_INPUT_PORTS=${PORTFORWARDING}
      - FIREWALL_OUTBOUND_SUBNETS=192.168.0.0/16,10.0.0.0/8
      - DNS_ADDRESS=1.1.1.1
      - BLOCK_MALICIOUS=off
      - BLOCK_SURVEILLANCE=off
      - BLOCK_ADS=off
      - UPDATER_PERIOD=24h
    volumes:
      - ./gluetun:/gluetun
    ports:
      - "9091:9091" # Transmission Web UI
      - "${PORTFORWARDING}:${PORTFORWARDING}"
      - "${PORTFORWARDING}:${PORTFORWARDING}/udp"
      - "5050:5050" # FlexGet Web UI
    restart: unless-stopped
    networks:
      - default

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    network_mode: "service:gluetun" # Only VPN
    depends_on:
      - gluetun
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
      - TRANSMISSION_RPC_USERNAME=${TRANSMISSION_USER}
      - TRANSMISSION_RPC_PASSWORD=${TRANSMISSION_PASS}
      - TRANSMISSION_RPC_ENABLED=true
      - TRANSMISSION_RPC_BIND_ADDRESS=0.0.0.0
      - TRANSMISSION_RPC_PORT=${TRANSMISSION_PORT}
      - TRANSMISSION_RPC_WHITELIST_ENABLED=false
      - TRANSMISSION_DOWNLOAD_DIR=/downloads/complete
      - TRANSMISSION_INCOMPLETE_DIR_ENABLED=true
      - TRANSMISSION_INCOMPLETE_DIR=/downloads/incomplete
      - TRANSMISSION_WATCH_DIR_ENABLED=true
      - TRANSMISSION_WATCH_DIR=/watch
      - TRANSMISSION_PEER_PORT=${PORTFORWARDING}
      - TZ=${TZ}
    volumes:
      - ./transmission/config:/config
      - ${MEDIA_PATH}/downloads:/downloads
      - ${MEDIA_PATH}/downloads/watch:/watch
    restart: unless-stopped

  flexget:
    image: lscr.io/linuxserver/flexget:3.18.19
    container_name: flexget
    network_mode: "service:gluetun" # Only VPN
    depends_on:
      - gluetun
      - transmission
    environment:
      - PUID=1000
      - PGID=1000
      - FG_WEBUI_PASSWD=${FG_WEBUI_PASSWD}
      - TORRENT_PLUGIN=transmission
      - FG_LOG_LEVEL=info
      - TRANSMISSION_HOST=${TRANSMISSION_HOST}
      - TRANSMISSION_PORT=${TRANSMISSION_PORT}
      - TRANSMISSION_USER=${TRANSMISSION_USER}
      - TRANSMISSION_PASS=${TRANSMISSION_PASS}
      - MY_ANIME_LIST_USERNAME=${MY_ANIME_LIST_USERNAME}
      - OPENSUBTITLES_USERNAME=${OPENSUBTITLES_USERNAME}
      - OPENSUBTITLES_PASSWORD=${OPENSUBTITLES_PASSWORD}
      - ADDIC7ED_USERNAME=${ADDIC7ED_USERNAME}
      - ADDIC7ED_PASSWORD=${ADDIC7ED_PASSWORD}
      - TZ=${TZ}
    volumes:
      - ./flexget/config:/config
      - ./flexget/config/custom-cont-init.d:/custom-cont-init.d
      - ${MEDIA_PATH}/downloads:/downloads
      - ${MEDIA_PATH}/movies:/movies
      - ${MEDIA_PATH}/series:/series
      - ${MEDIA_PATH}/animes:/animes
    restart: unless-stopped

  plex:
    image: linuxserver/plex:latest
    container_name: plex
    network_mode: host
    hostname: plex
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - TZ=${TZ}
    volumes:
      - ./plex/config:/config
      - ${MEDIA_PATH}/movies:/movies:ro
      - ${MEDIA_PATH}/series:/series:ro
      - ${MEDIA_PATH}/animes:/animes:ro
    restart: unless-stopped

  samba:
    image: servercontainers/samba
    container_name: samba
    restart: unless-stopped
    ports:
      - "445:445"
    environment:
      - TZ=${TZ}
      - SAMBA_CONF_WORKGROUP=WORKGROUP
      - ACCOUNT_pi=${SAMBA_PASSWORD}
      - UID_pi=1000
      - GID_pi=1000
    volumes:
      - /mnt/storage/movies:/movies
      - /mnt/storage/series:/tv
      - /mnt/storage/animes:/animes
      - /mnt/storage/downloads/movies/complete:/movies_downloaded
      - /mnt/storage/downloads/series/complete:/tv_downloaded
      - ./samba/smb.conf:/etc/samba/smb.conf:ro
