variables: variables.yml

templates:
  global:
    include: templates/global.yml

  transmission_client:
    include: templates/clients.yml

  transmission_cleaner:
    include: templates/transmission_cleaner.yml

  media_base:
    include: templates/media_base.yml

  movie_base:
    include: templates/movie_base.yml

  tv_base:
    include: templates/tv_base.yml

  anime_base:
    include: templates/anime_base.yml

  reject_series:
    include: templates/reject_series.yml

  reject_audio_codecs:
    include: templates/reject_audio_codecs.yml

tasks:
  manual_movies:
    include: tasks/manual/movies.yml

  manual_tv:
    include: tasks/manual/tv.yml

  manual_animes:
    include: tasks/manual/anime.yml

  organize_movies:
    include: tasks/organize/movie.yml

  organize_tv:
    include: tasks/organize/tv.yml

  organize_anime:
    include: tasks/organize/anime.yml

  transmission_report:
    include: tasks/maintenance/transmission_report.yml

  purge_dead_torrents:
    include: tasks/maintenance/purge_dead_torrents.yml

schedules:
  - tasks: ["manual_movies"]
    interval:
      hours: 1
  - tasks: ["organize_movies"]
    interval:
      hours: 2
  - tasks: [clean_completed_seeded]
    interval:
      minutes: 30
  - tasks: [transmission-report]
    schedule:
      hour: 9
